<!-- Boxes de Informação -->
<div class="bg-white h-full p-4 space-y-4">
  <div class="grid grid-cols-1 gap-4 md:grid-cols-4">
    <div class="p-4 bg-orange-100 rounded-lg shadow">
      <h2 class="text-lg font-semibold">Ganhos</h2>
      <p class="text-2xl font-bold">R$ 6659 Esse mês</p>
    </div>
    <div class="p-4 bg-teal-100 rounded-lg shadow">
      <h2 class="text-lg font-semibold">Produtos</h2>
      <p class="text-2xl font-bold">R$ 9856 Esse mês</p>
    </div>
    <div class="p-4 bg-pink-100 rounded-lg shadow">
      <h2 class="text-lg font-semibold">Mensagens</h2>
      <p class="text-2xl font-bold">R$ 893 Esse mês</p>
    </div>
    <div class="p-4 bg-gray-100 rounded-lg shadow">
      <h2 class="text-lg font-semibold">Novas vendas</h2>
      <p class="text-2xl font-bold">R$ 45631 Esse mês</p>
    </div>
  </div>
</div>